.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  border: none;
  border-bottom: 1px solid #3369f3;
  outline: none;
}

.label {
  font-size: 9px;
  color: #999999;
}
