.input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__input {
    border: none;
    border-bottom: 1px solid var(--active-color);
    outline: none;
  }

  &__label {
    font-size: 9px;
    color: #999999;
  }
}
