.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__code {
    margin: 0;
    font-size: 40px;
  }

  &__text {
    margin: 20px 0 70px;
  }
}
