.btn {
  height: 36px;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;

  &-primary {
    background-color: var(--active-color);
    border-radius: 8px;
    color: var(--text-light-color);
  }

  &-simple {
    width: 100%;
    color: var(--active-color);
    background-color: unset;
    border-bottom: var(--border);
    border-radius: unset;
    text-align: start;
  }

  &-error {
    color: var(--error-color);
  }
}
