.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  background-color: var(--avatar-bg-color);
  border-radius: 0 10px 10px 10px;
  max-width: 440px;
  width: fit-content;

  &__text {
    color: var(--text-color);
    font-size: 12px;
  }

  &__time {
    color: var(--label-color);
    font-size: 9px;
  }
}

.incoming {
  justify-self: flex-end;
  border-radius: 10px 10px 0 10px;
  background-color: var(--message-bg-color);
}
