.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 48px;

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
}
