h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 47px;
}
