.profile-page {
  height: 100vh;
  width: 100vw;
  overflow: auto;

  &__content {
    width: 510px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    overflow: auto;

    &__avatar {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: var(--avatar-bg-color);
    }

    &__name {
      font-size: 16px;
    }

    &__elements {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-right: var(--border);

    &__btn {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      padding: 0;
      color: var(--text-light-color);
      background-color: var(--active-color);
    }
  }
}
