<div class="profile-page">
  <main class="profile-page__content">
    <div class="profile-page__content__avatar">
      <img width="40" height="40" id="avatar" />
    </div>
    <h2 class="profile-page__content__name">Иван</h2>
    <form class="profile-page__content__elements">
      {{{inputs}}}
    </form>
    <div class="profile-page__content__elements">
      {{{buttons}}}
    </div>
  </main>
  <div class="profile-page__back">
    <button class="profile-page__back__btn" id="back_button">←</button>
  </div>
</div>