:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: 1px solid #eaeaea;

  --text-color: #1e1e1e;
  --active-color: #3369f3;
  --error-color: #ff0000;
  --text-light-color: #ffffff;
  --bg-color: #fbfbfb;
  --label-color: #999999;
  --avatar-bg-color: #efefef;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
